@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors

5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components

7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class   

--------------------------------------------------------------*/

/*--------------------------------------------------------------
    2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----------- UNIVERSAL ------------- */

* {
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: 400;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

html {
    font-size: 1rem;
}

ul {
    margin: 0;
    padding-left: 0;
}

blockquote {
    text-align: center;
    margin: 3em 0;
}

blockquote > p:first-child {
    color: #C4C4C4;
    font-size: 8rem;
    margin: 1em 0 0;
    line-height: 0;

}

blockquote footer {
    color: #C4C4C4;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

/* ----- TYPOGRAPHY ----- */


p,
span {
    font-family: 'EB Garamond', serif;
}

h1,
h2,
h3,
nav li,
footer li {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    color: #fff;
    text-align: center;
    letter-spacing: .1rem;
    font-size: 2.6rem;
    margin: 2em 0 0;
}

h2 {
    font-size: 1rem;
    letter-spacing: .3rem;
    color: #C4C4C4;
    margin-top: 1.6em;

}

p {
    line-height: 1.7em;
    font-size: 1.2rem;
    letter-spacing: .04rem;
}

span {
    font-style: italic;
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
}

@media screen and (min-width: 1024px) {

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        line-height: 1.8em;
    }
}

/* ----- ANCHORS ----- */

a {
    text-decoration: none;
}

li a:hover {
    border-bottom: .5px solid #fff;
    padding-bottom: .5em;
}

a.btn:hover {
    background-color: #20734C;
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 93%;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

[class*='col-'] {
        padding: 2px;
}

[class*='col-'] [class*='col-'] {
        margin-left: -2px;
        margin-right: -2px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}
.col-sm-2 {
    width: calc(100% * 2 / 12);
}
.col-sm-3 {
    width: calc(100% * 3 / 12);
}
.col-sm-4 {
    width: calc(100% * 4 / 12);
}
.col-sm-5 {
    width: calc(100% * 5 / 12);
}
.col-sm-6 {
    width: calc(100% * 6 / 12);
}
.col-sm-7 {
    width: calc(100% * 7 / 12);
}
.col-sm-8 {
    width: calc(100% * 8 / 12);
}
.col-sm-9 {
    width: calc(100% * 9 / 12);
}
.col-sm-10 {
    width: calc(100% * 10 / 12);
}
.col-sm-11 {
    width: calc(100% * 11 / 12);
}
.col-sm-12 {
    width: calc(100% * 12 / 12);
}


@media screen and (min-width: 768px) {

        .wrapper {
                width: 85%;
        }

        [class*='col-'] {
                padding: 8px;
        }

        [class*='col-'] [class*='col-'] {
                margin-left: -8px;
                margin-right: -8px;
        }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}


@media screen and (min-width: 1024px) {
        .wrapper {
                width: 75%;
        }

        [class*='col-'] {
                padding: 5px;
        }

        [class*='col-'] [class*='col-'] {
                margin-left: -5px;
                margin-right: -5px;
        }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

.btn,
#hero-home p {
    font-family: 'Montserrat', sans-serif;
}

#conservation > p:first-child,
#what-we-do,
#make-a-difference p {
    font-size: 1.6rem;
    line-height: 1.3em;
}

#conservation,
#make-a-difference {
    text-align: center;
}

#our-mission {
    border-bottom: 2px solid gray;
    margin-top: 1em;
    padding-bottom: 2.5em;
}


.btn {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    background-color: #4E9374;
    padding: .7em 1.5em;
    color: #fff;
}

.btn,
header li:last-child a {
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -o-radius: 1.5em;
    -ms-border-radius: 1.5em;
    border-radius: 1.5em;
}

@media screen and (min-width: 1024px) {
    #conservation > p:first-child,
    #what-we-do,
    #make-a-difference p {
        font-size: 2rem;
        line-height: 1.3em;
        margin: 2.5em 0 0;
    }

    #our-mission {
        margin-top: 5em;
    }
}

/* ----- HERO ----- */

#hero-home p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 0;
}

header img {
    width: 140px;
    margin-top: .5em;
}

header .wrapper {
    text-align: center;
}

header a {
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
    margin: 0 1em;
}

header p {
    text-align: center;
}

header li:last-child a {
    padding: .4em .8em .3em;
    text-decoration: none;
    background-color: #fff;
    color: #1D6D49;
}

#hero-home h1 {
    margin: 0;
}

#hero-home p:nth-child(2) {
    font-size: 2em;
    line-height: 1.3em;
    margin-top: 1.5em;
}

#hero-home .btn {
    font-size: .8em;
    padding: .5em 1em;
}


@media screen and (min-width: 1024px) {

    header a {
        margin: 0;
    }

    header img {
        width: 200px;
        margin-top: 0;
        margin-top: .5em;
    }

    header .wrapper {
        text-align: left;
    }

    header li {
        margin-left: 2em;
    }

    #hero-home span {
        font-size: 3.5rem;
    }

    #hero-home .btn {
        font-size: .2em;
        padding: .5em 1em;
    }

    #hero-home p {
        font-size: 5rem;
        padding: 0;
    }

    #hero-home p:last-child {
        margin-bottom: 1em;
    }

    #hero-home p:nth-child(2) {
        font-size: 5em;
        padding: 0;
        margin-top: 0;
        line-height: 1em;
    }

    #hero-about > div:last-child{
        padding: 0em 0 11em;
    }

    #position-sticky {
        text-align: left;
        margin-top: 4em;
        align-self: flex-start;
    }

    #position-sticky li {
        display: block;
    }

    header li:last-child a {
        border: 1px solid #fff;
        background-color: transparent;
        border-radius: 1.5em;
        padding: .4em .8em .3em;
        color: #fff;
    }
    
    header li:last-child a:hover {
        text-decoration: none;
        background-color: #fff;
        color: #1D6D49;
    }

    #hero-action > div:last-child{
        padding: 0em 0 11em;
       }
}

/* ----- NAVIGATION ----- */

#hero-home nav,
#hero-about nav,
#hero-action nav {
    text-align: center;
    margin-top: 1em;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
}

#position-sticky nav {
    line-height: 3em;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    #hero-home nav,
    #hero-about nav,
    #hero-action nav {
        text-align: right;
        margin-top: 1.2em;
    }
}

/* ----- FOOTER ----- */

footer {
    background-color: #1D6D49; 
    padding-bottom: 1em;
}

footer a {
    color: #fff;
    font-size: .9rem;
    font-style: normal;
    font-weight: 500;
}

footer li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 2.2em;
}

footer ul:first-child {
    display: inline-block;
    margin: 0 5em;
    padding: 0;
}

footer > div:first-child {
    background-color: #4e9374;
    text-align: center;
    margin: 5em 0 2em;
    padding: 0.3em 0 0; 
}

address {
    text-align: center;
}


@media screen and (min-width: 1024px) {
    footer {
        background-color: #20734C;
        padding-bottom: 3em;
    }

    footer li {
        display: inline-block;
    }

    footer > div:first-child {
        background-color: #4E9374;
        margin: 3em 0;
        padding: .8em;
    }

    footer ul:first-child {
        margin: 0;
    }

    address a {
        margin: 0 1em;
    }
}

/* ----- ABOUT ----- */

#position-sticky {
    position: sticky;
    top: 0;
    left: 0;
    margin-top: 1em;
    background-color: #fff;
    text-align: center;
}

   @media screen and (min-width: 1024px) {

    #position-sticky {
        text-align: left;
        margin-top: 4em;
    }

    #position-sticky li {
        display: block;
    }
   }

/* ----- TAKE ACTION ----- */



#make-a-difference + div {
    text-align: center;
    margin: 5em 0;
}


/* ----- CONSERVATION ----- */

#conservation img {
    width: 344px;
}

#conservation section {
    margin-top: 4em;
}

#conservation section:first-child div:first-child {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background: url("../img/mountain.jpg") no-repeat center;
    background-size: cover;
    padding: 10em 8em;
}

#conservation section:last-child div:first-child {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background: url("../img/forest.jpg") no-repeat center;
    background-size: cover;
    padding: 10em 8em;
}

@media screen and (min-width: 1024px) {
    #conservation img {
        width: 400px;
    }

    #conservation section:first-child div:first-child {
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background: url("../img/mountain.jpg") no-repeat center;
        background-size: cover;
        padding: 9em 11em;
    }
    
    #conservation section:last-child div:first-child {
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background: url("../img/forest.jpg") no-repeat center;
        background-size: cover;
        padding: 9em 11em;
    }
}

/* ----- ACHIEVEMENTS ----- */

#our-achievements {
    border-top: 2px solid gray;
    padding-left: 1em;
}

#our-achievements li::before {
    background-image: url(../img/tree.svg);
  }

#our-achievements h2 {
    margin-top: 1em;
}

@media screen and (min-width: 1024px) {
    
    #our-achievements h2 {
        margin-top: 5em;
    }
}

/* ----- IMAGES ----- */

#hero-home {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background: url("../img/snowy-mountain.jpg") no-repeat center;
    background-size: cover;
    padding: 0em 0 6em;
}

#hero-about {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background: url("../img/mountain.jpg") no-repeat center;
    background-size: cover;
    padding: 1em 0 7.5em;
}

#hero-action {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background: url("../img/forest.jpg") no-repeat center;
    background-size: cover;
    padding: 1em 0 7.5em;
}

@media screen and (min-width: 1024px) {

    #hero-home {
        background: url("../img/snowy-mountain.jpg") no-repeat center;
        background-size: cover;
        padding: 0em 0 5em;
    }
    
    #hero-about {
        background: url("../img/mountain.jpg") no-repeat center;
        background-size: cover;
    }
    
    #hero-action {
        background: url("../img/forest.jpg") no-repeat center;
        background-size: cover;
    }
}

/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

[class^="fa"] {
    font-size: 1.2rem;
    margin: 0 .5em;
} 

.col-center {
    margin: 0 auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}